:root{
     --yellow: #FCE7AE ;
     --darkb: #373741 ;
     --grey: #737373 ;
     --black: #121212;
     --darkyellow: #e9b119;

}

html{
     font-size: 73% !important;
 }
 
*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: "Lato", Arial, sans-serif;
     scroll-behavior: smooth;
}

body {
     font-size: 1.5rem;
     line-height: 2;
     background-color: whitesmoke;
     color: var(--black)
}

/* base */
h1, h2, h3, h4 {
     text-align: center;
}

h2 {
     padding: 3rem;
}

h4{
     background-color: var(--yellow);
     padding: 1.5rem;
}

a {
     color: var(--darkb) ;
     text-decoration: none;
     -webkit-transition: 0.5s;
     -o-transition: 0.5s;
     transition: 0.5s;
}

a:hover, a:active, a:focus, a.link:hover, a.link:active, a.link:focus {
     color: var(--darkyellow) ;
     outline: none;
     text-decoration: none !important;
}

a.link {
     color: var(--yellow);
}
   
p {
     margin-bottom: 1.5em;
}

ul{
     list-style: none;
}

.btn{
     background-color: var(--darkb);
     color: var(--yellow);
     font-size: 1.4rem;
     font-weight: 400;
}

.btn2{
     background-color: var(--yellow);
     color: var(--darkb);
     border: none;
     padding: 1rem 2rem;
     border-radius: 5px;
}

.btn:hover{
     background-color: var(--yellow);
}

.btn:visited, .btn:active, .btn:focus{
     color:var(--darkyellow);
}

small{
     color: var(--grey);
     margin: 0;
}
/*barre de navigation*/
.navbar{
     background-color: var(--black);
}

.navbar-brand{
     color: var(--yellow);
}

.nav-link{
     color: var(--grey);
}

.nav-link:hover{
     color: var(--yellow);
}
/*header*/
.wrapper{
     width: 100%;
     height: 50vh;
     overflow: hidden;
   }
   
.wrapper__video{
     object-fit: cover;
     width: auto;
 
   }

.title {
     position:absolute;
     top:20vh;
     left:35%;
     color: var(--black);
     text-align: center;
     width: 30%;   
     background-color: var(--yellow);
}
.title h1{
     padding-bottom: 1rem;
}


/*base section */

.about, .skills, .experience{
     background-color: white;
     text-align: center;
}

.skills, .experience{
     box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.2);
}

.hobbies {
     background-color: var(--yellow);
     margin: 2rem 0;
}

.contact {
     background: var(--darkb);
     color: white;
}

.section-skills{
     position: relative;
     padding-top: 6rem;
     background: url(../public/images/portfolio.jpg) no-repeat fixed center / cover;
     height: 400px;
}

.experience{
     margin-top: 65rem;
}

.dark{
     background: var(--darkb);
     color: white;
     padding: 2rem 0;
     margin: 3rem 0;
}

.count{
     position: relative;
     padding-top: 10rem;
     background: url(../public/images/ordinateur2.jpg) no-repeat fixed center / cover;
     height: 36rem;
}

input, textarea, button{
     margin: 1.5rem
}

footer{
     background-color: var(--black);
     color: var(--darkb);
}

.img-res{
     height: 15vw;
     border-radius: 5%;
     border: var(--grey) 1px solid;
}

.logo img{
     height: 12rem;
     border-radius: 50%;
}

.round {
     background-color: white;
     border-radius: 50%;
     text-align: center;
     padding: 2rem;
     cursor: pointer;
     width: fit-content;
     margin: auto;
}
.round:hover{
     transform: scale(1.1);
}

@media (max-width: 615px) {
     .title {
          top:25vh;
          left: 15%;
          width: 70%;
     }
     .title h1{
          padding-bottom: 0rem;
     }
     
     .logo img{
          display: none;
     }

     .count{
          padding-top: 5rem;
     }

     .img-res{
          height: 20vh;
          margin-top: 1.5rem;
     }

}